.header__language {
  margin: 7px 0 0;
  padding: 0;
  list-style: none;
  display: -ms-grid;
  display: grid;
  gap: 18px 18px;
  -ms-grid-columns: auto 18px auto;
  grid-template-columns: auto auto;
}

@media screen and (max-width: 676px) {
  .header__language {
    margin: 12px 0 0;
    }
}
