@media screen and (max-width: 1280px) {
  .lead_position {
    padding: 0 calc( (100vw - 1024px)/(1280 - 1024) * (0 - 48) + 48px) 92px;
  }
}

@media screen and (max-width: 1024px) {
  .lead_position {
    padding: 0 calc( (100vw - 768px)/(1024 - 768) * (48 - 0) + 0px) calc( (100vw - 768px)/(1024 - 768) * (92 - 88) + 88px);
  }
}

@media screen and (max-width: 768px) {
  .lead_position {
    padding: 0 0 calc( (100vw - 320px)/(768 - 320) * (88 - 64) + 64px);
  }
}
