.lead__title {
  font-family: Inter;
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  text-align: center;
  color: #FFF;
  max-width: 720px;
  margin: 0 0 48px;
}

@media screen and (max-width: 768px){
  .lead__title {
    font-size: calc( (100vw - 320px)/(768 - 320) * (96 - 40) + 40px);
    line-height: calc( (100vw - 320px)/(768 - 320) * (100 - 44) + 44px);
    margin: 0 0 calc( (100vw - 320px)/(768 - 320) * (32 - 16) + 16px);
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
  .lead__title {
    margin: 0 0 32px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1280px){
  .lead__title {
    margin: 0 0 calc( (100vw - 1024px)/(1280 - 1024) * (48 - 32) + 32px);
  }
}
