.intro__text {
  color: #FFF;
  font-family: Inter, Arial, Helvetica;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 33px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
