.intro {
  width: 100%;
  max-width: 984px;
  box-sizing: border-box;
}

@media all and (max-width: 1024px) {
  .intro {
    max-width: 1024px;
  }
}

@media all and (min-width: 1024px) and (max-width:1080px) {
  .intro {
    max-width: 1080px;
  }
}
