.place__url-heading {
  color: #aaa;
  font-family: Inter, Arial, Helvetica;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 2px;
  margin: 0;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
