.intro_side_left {
  padding: 0 0 92px;
}

@media all and (max-width:1080px) {
  .intro_side_left {
    padding: 0 48px 92px;
  }
}

@media all and (max-width: 1024px) {
  .intro_side_left {
    padding: 0 0 calc( (100vw - 768px)/(1024 - 768) * (92 - 88) + 88px) calc( (100vw - 768px)/(1024 - 768) * (48 - 24) + 24px);
  }
}

@media all and (max-width: 768px) {
  .intro_side_left {
    padding: 0 calc( (100vw - 320px)/(768 - 320) * (24 - 16) + 16px) calc( (100vw - 320px)/(768 - 320) * (88 - 64) + 64px);
  }
}
