.place__paragraph-text {
  display: grid;
  gap: 25px;
  order: 0;
  grid-template-rows: repeat(2, min-content);
}

@media screen and (max-width: 676px) {
  .place__paragraph-text {
    grid-column: 2 / 3;
    order: 3;
  }
}
