.place__website {
  display: flex;
  flex-direction: column;
  justify-content: end;
  order: -1;
  gap: 12px;
}

@media screen and (max-width: 676px) {
  .place__website {
    order: 1;
    grid-column: 2 / 3;
  }
}
